<%- include('./components/header') %>


    <!-- Spinner Start -->
    <%- include('./components/spinner') %>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('./components/sidebar')%>
            <!-- Sidebar End -->

            <div class="content">
                <%- include('./components/navbar') %>
                    <section class=" gradient-custom ">
                        <div class="container py-5 h-100">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-12  ">
                                    <div class="card shadow-2-strong card-registration bg-light"
                                        style="border-radius: 15px;">
                                        <div class="card-body p-4 p-md-4">
                                            <h3 class="mb-0 pb-2 pb-md-0 mb-md-2">Add Product</h3>
                                            <form method="post" enctype="multipart/form-data" id="productForm">
                                                <div class="row">
                                                    <div class="col-md-5 mb-4">
                                                        <div class="form-outline">
                                                            <input type="text" id="title"
                                                                class="form-control form-control-md" name="title" />
                                                            <label class="form-label" for="title">Title</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <div class="form-outline">
                                                            <input class="form-control form-control-md" id="formFileLg"
                                                                type="file" name="featured" />
                                                            <label class="form-label" for="fimages">Featured
                                                                Image</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-4 pb-2">

                                                        <div class="form-outline">
                                                            <input class="form-control form-control-md" type="file"
                                                                id="formFileMultiple" name="images" multiple>
                                                            <label for="formFileMultiple" class="form-label">Multiple
                                                                Images</label>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-5 mb-4 d-flex align-items-center">

                                                        <div class="form-outline datepicker w-100">
                                                            <textarea class="form-control" placeholder=""
                                                                id="floatingTextarea" style="height: 150px;"
                                                                name="description"></textarea>
                                                            <label for="text-area"
                                                                class="form-label">Description</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 mb-4">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <!-- <div class="form-outline">
                                                                    <input type="text" id="phoneNumber"
                                                                        class="form-control form-control-md"
                                                                        name="brand" />
                                                                    <label class="form-label"
                                                                        for="phoneNumber">Brand</label>
                                                                </div> -->
                                                                <select class="form-select form-select-md mb-3" aria-label=".form-select-sm example"  name="brand">
                                                                    <option selected>Select Brand</option>
                                                                    <option value="Levi's">Levi's</option>
                                                                    <option value="Gucci">Gucci</option>
                                                                    <option value="Nike">Nike</option>
                                                                    <option value="Adidas">Adidas</option>
                                                                </select>
                                                                <div class="row">
                                                                    <div class="form-outline col-md-6">
                                                                        <input type="number" id="title"
                                                                            class="form-control form-control-md"
                                                                            name="quantity" />
                                                                        <label class="form-label"
                                                                            for="quantity">Quantity</label>
                                                                    </div>
                                                                    <div class="form-outline col-md-6">
                                                                        <input type="number" id="title"
                                                                            class="form-control form-control-md"
                                                                            name="price" />
                                                                        <label class="form-label"
                                                                            for="price">Price</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <b class="mb-2 pb-1">Size: </b>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="small" id="flexCheckDefault" name="size">
                                                                    <label class="form-check-label"
                                                                        for="flexCheckDefault">
                                                                        Small
                                                                    </label>
                                                                </div>

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="medium" id="flexCheckDefault"
                                                                        name="size">
                                                                    <label class="form-check-label"
                                                                        for="flexCheckDefault">
                                                                        Medium
                                                                    </label>
                                                                </div>

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="large" id="flexCheckDefault" name="size">
                                                                    <label class="form-check-label"
                                                                        for="flexCheckDefault">
                                                                        Large
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-0 pt-0">
                                                    <input class="btn btn-primary btn-lg" type="submit" value="Submit"
                                                        name="submit" />
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <script>
                        // Function to handle form submission
                        const handleFormSubmit = async (event) => {
                            event.preventDefault();
                            const form = event.target;
                            const formData = new FormData(form);

                            try {
                                const response = await fetch("/saveProductRecord", {
                                    method: 'POST',
                                    body: formData,
                                });

                                if (response.ok) {
                                    const result = await response.json();
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success',
                                        text: 'User added successfully!'
                                    }).then(() => {
                                        window.location.href = '/products';
                                    });
                                    // Log the response data (e.g., 'successful')
                                    // Optionally, you can show a success message or redirect the user to a success page
                                } else {
                                    console.error('Error:', response.statusText);
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'error',
                                        text: 'Error in adding user!'
                                    })
                                    // Optionally, you can show an error message to the user
                                }
                            } catch (error) {
                                console.error('Error:', error.message);
                                // Optionally, you can show an error message to the user
                            }
                        };

                        // Add event listener to the form to handle form submission
                        const productForm = document.getElementById('productForm');
                        productForm.addEventListener('submit', handleFormSubmit);
                    </script>


                    <%- include('./components/footer')%>